<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/assets/base.min.css" rel="stylesheet" />
    <environment names="Development">
        
        <!-- https://github.com/angular/angular/blob/master/modules/angular2/docs/bundles/overview.md -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.min.js"></script>
        <script src="https://code.angularjs.org/2.0.0-beta.1/angular2-polyfills.js"></script>
        <script src="https://code.angularjs.org/tools/system.js"></script>
        <script src="https://code.angularjs.org/tools/typescript.js"></script>
        <!-- <script src="https://code.angularjs.org/2.0.0-beta.1/Rx.js"></script>-->
        <script src="https://code.angularjs.org/2.0.0-beta.1/angular2.dev.js"></script>
        <script src="~/jspm.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.min.js"></script>
        <script src="https://code.angularjs.org/2.0.0-beta.1/angular2-polyfills.js"></script>
    </environment>
</head>
<body>

    @RenderBody()
    <environment names="Development">
        <script>
            System.import('app/bootstrap')
                .catch(console.error.bind(console));
        </script>
            
    </environment>

    <environment names="Staging,Production">
        <script src="~/dist/app.min.sfx.js" asp-append-version="true"></script>
    </environment>
        
    @RenderSection("scripts", required: false)
</body>
</html>
