<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">

    </environment>
    <environment names="Staging,Production">

    </environment>
</head>
<body>

    @RenderBody()
<environment names="Development">
        <script src="~/jspm_packages/system.js"></script>
        <script src="~/jspm.config.js"></script>
        
        <script>
            System.import('app/bootstrap')
                .catch(console.error.bind(console));
        </script>
            
    </environment>

    <environment names="Staging,Production">
        <script src="~/dist/app.min.sfx.js" asp-append-version="true"></script>
    </environment>
        
    @RenderSection("scripts", required: false)
</body>
</html>
